Explore/Web Services 10  Ways/02-Wcf/PunClient/Service References/WCFPunService/PunService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:37934/PunService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PunData" />
  <xs:element name="GetPuns">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPunsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PunData" minOccurs="0" name="GetPunsResult" nillable="true" type="q1:ArrayOfPun" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPunByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPunByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PunData" minOccurs="0" name="GetPunByIDResult" nillable="true" type="q2:Pun" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePun">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PunData" minOccurs="0" name="pun" nillable="true" type="q3:Pun" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePunResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePun">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PunData" minOccurs="0" name="pun" nillable="true" type="q4:Pun" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePunResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePun">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePunResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>