Explore/Web Services 10  Ways/02-Wcf/PunClient/Service References/WCFPunService/PunService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PunService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:37934/PunService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:37934/PunService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:37934/PunService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PunData" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPunService_GetPuns_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPuns" />
  </wsdl:message>
  <wsdl:message name="IPunService_GetPuns_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPunsResponse" />
  </wsdl:message>
  <wsdl:message name="IPunService_GetPunByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPunByID" />
  </wsdl:message>
  <wsdl:message name="IPunService_GetPunByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPunByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IPunService_CreatePun_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePun" />
  </wsdl:message>
  <wsdl:message name="IPunService_CreatePun_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePunResponse" />
  </wsdl:message>
  <wsdl:message name="IPunService_UpdatePun_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePun" />
  </wsdl:message>
  <wsdl:message name="IPunService_UpdatePun_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePunResponse" />
  </wsdl:message>
  <wsdl:message name="IPunService_DeletePun_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePun" />
  </wsdl:message>
  <wsdl:message name="IPunService_DeletePun_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePunResponse" />
  </wsdl:message>
  <wsdl:portType name="IPunService">
    <wsdl:operation name="GetPuns">
      <wsdl:input wsaw:Action="http://tempuri.org/IPunService/GetPuns" message="tns:IPunService_GetPuns_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPunService/GetPunsResponse" message="tns:IPunService_GetPuns_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPunByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IPunService/GetPunByID" message="tns:IPunService_GetPunByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPunService/GetPunByIDResponse" message="tns:IPunService_GetPunByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreatePun">
      <wsdl:input wsaw:Action="http://tempuri.org/IPunService/CreatePun" message="tns:IPunService_CreatePun_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPunService/CreatePunResponse" message="tns:IPunService_CreatePun_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePun">
      <wsdl:input wsaw:Action="http://tempuri.org/IPunService/UpdatePun" message="tns:IPunService_UpdatePun_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPunService/UpdatePunResponse" message="tns:IPunService_UpdatePun_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePun">
      <wsdl:input wsaw:Action="http://tempuri.org/IPunService/DeletePun" message="tns:IPunService_DeletePun_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPunService/DeletePunResponse" message="tns:IPunService_DeletePun_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPunService" type="tns:IPunService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPuns">
      <soap:operation soapAction="http://tempuri.org/IPunService/GetPuns" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPunByID">
      <soap:operation soapAction="http://tempuri.org/IPunService/GetPunByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePun">
      <soap:operation soapAction="http://tempuri.org/IPunService/CreatePun" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePun">
      <soap:operation soapAction="http://tempuri.org/IPunService/UpdatePun" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePun">
      <soap:operation soapAction="http://tempuri.org/IPunService/DeletePun" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PunService">
    <wsdl:port name="BasicHttpBinding_IPunService" binding="tns:BasicHttpBinding_IPunService">
      <soap:address location="http://localhost:37934/PunService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>