Explore/Web Services 10  Ways/02-Wcf/PunClient/Service References/WCFPunService/PunService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PunData" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PunData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPun">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pun" nillable="true" type="tns:Pun" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPun" nillable="true" type="tns:ArrayOfPun" />
  <xs:complexType name="Pun">
    <xs:sequence>
      <xs:element minOccurs="0" name="Joke" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PunID" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pun" nillable="true" type="tns:Pun" />
</xs:schema>