VNC.Logging/VNC.Logging.CustomTraceListeners/SignalRListener/Connected Services/ServiceReference1/LiveViewListenerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://MyCompany.com" elementFormDefault="qualified" targetNamespace="http://MyCompany.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DisplayLogEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayLogEntryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>