Applications/EyeOnLife/Playground/EyeOnLife.2012.08.24/EyeOnLife/Test Data/EyeOnLifeLKUPData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EyeOnLife">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ADDomains">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="ADDomain">
                <xs:complexType>
                  <xs:attribute name="ID" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="Name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Environments">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Environment">
                <xs:complexType>
                  <xs:attribute name="ID" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="Name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>